@font-face {
	src: url(../fonts/Quicksand-Bold.ttf); 
	font-family: Quicksand;
	font-weight: 700;
}

@font-face {
	src: url(../fonts/Quicksand-Medium.ttf); 
	font-family: Quicksand;
	font-weight: 500;
}

@font-face {
	src: url(../fonts/Quicksand-Regular.ttf); 
	font-family: Quicksand;
	font-weight: 400;
}

@font-face {
	src: url(../fonts/Quicksand-Light.ttf); 
	font-family: Quicksand;
	font-weight: 300;
}