$color-background: #FDFDFD;
$color-foreground-important: #202020;
$color-foreground: #C0C0C0;
$color-foreground-dark: #909090;
$color-foreground-blue: #2196F3;

$prefixes: ("-moz-", "-webkit-", "-o-", "-ms-", "", "-ms-input-", "-webkit-input-");
$atsign: ("@");