@font-face {
  src: url(../fonts/Quicksand-Bold.ttf);
  font-family: Quicksand;
  font-weight: 700;
}
@font-face {
  src: url(../fonts/Quicksand-Medium.ttf);
  font-family: Quicksand;
  font-weight: 500;
}
@font-face {
  src: url(../fonts/Quicksand-Regular.ttf);
  font-family: Quicksand;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/Quicksand-Light.ttf);
  font-family: Quicksand;
  font-weight: 300;
}
html, body {
  height: 100%;
}

body {
  background: #FDFDFD;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.container .menu {
  padding: 48px;
  border: 1px solid #C0C0C0;
  border-radius: 8px;
}
.container .menu .menu-title {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 80px;
  color: #202020;
  margin-bottom: 24px;
}
.container .menu .menu-inputs {
  display: flex;
  flex-direction: column;
}
.container .menu .menu-inputs .input {
  width: 250px;
  margin-bottom: 16px;
  position: relative;
  overflow-x: hidden;
}
.container .menu .menu-inputs .input input {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  background: #FDFDFD !important;
  border: none;
  border-bottom: 1px solid #C0C0C0;
  color: #202020;
  padding: 8px 16px;
}
.container .menu .menu-inputs .input input::-moz-placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input::-webkit-placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input::-o-placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input::-ms-placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input::placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input::-ms-input-placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input::-webkit-input-placeholder {
  font-style: italic;
}
.container .menu .menu-inputs .input input:focus {
  outline: none;
}
.container .menu .menu-inputs .input:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0px;
  width: 100%;
  background: #909090;
  transform: translate3d(100%, 0, 0);
  transition: 0.3s all;
  opacity: 0.3;
}
.container .menu .menu-inputs .input:focus-within:before {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.container .menu .menu-inputs .submit {
  width: 100%;
  margin-top: 24px;
}
.container .menu .menu-inputs .submit button {
  background: #FDFDFD;
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 15px;
  color: #909090;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s all;
}
.container .menu .menu-inputs .submit button:hover {
  background: #C0C0C0;
  color: #FDFDFD;
}
.container .menu .menu-inputs .submit button:focus {
  outline: none;
}
.container .menu .menu-inputs .submit button:active {
  background: #909090;
  border-color: #909090;
}
